[submodule "backend"]
	path = backend
	url = https://github.com/BejenaruIoanMatei/GameRecommender
[submodule "frontend"]
	path = frontend
	url = https://github.com/BejenaruIoanMatei/GameRecommenderClient
